@model FFCG.Utsikt.Web.Models.Pages.ContentAreaLeftNavPage.ContentAreaLeftNavPageViewModel
           
@{
    Layout = "~/Views/Shared/_LayoutSubPageLeftNav.cshtml";
}

<h1>@Html.PropertyFor(m=>m.EpiData.PageName)</h1>

@Html.PropertyFor(m=>m.EpiData.ContentArea)
