@model Lif.Models.Blocks.IBlockTextAreaViewModel<Lif.Models.Blocks.BlockTextAreaBase>
           
@{ Layout = null;
  }
<div class="@Model.WidthCssClass @Model.PositionCssClass">
    @RenderBody()
</div>
