@model FFCG.Utsikt.Web.Models.Blocks.IBlockTextAreaViewModel<FFCG.Utsikt.Web.Models.Blocks.BlockTextAreaBase>

@{ Layout = null;
}
<div class="@Model.WidthCssClass @Model.PositionCssClass">
    @RenderBody()
</div>