#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.vspscc
*.vssscc
*.user
*.suo
*.gpState
*.resharper
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
FFCG.Utsikt/[Bb]in
FFCG.Utsikt.Tests/[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
!App_Data/GeoLiteCity.dat
App_Data/*
FFCG.Utsikt/License.config
BuildArtifacts*/
FFCG.Utsikt/Static/*.css.map
TempDeploy/*
