@model FFCG.Utsikt.Web.Models.Pages.ContentAreaPage.ContentAreaPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.PropertyFor(m => m.EpiData.MainContentArea)
</div>